.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #4E4E4E;
}
.section {
    display: flex;
    flex-direction: row;
    background-color: white;
    text-align: center;
    height: 20%;
    width: 100%;
}
.text {
    font-size: 1.875em;
    color: black;
    text-align: center;
}
.button {
    margin-left: auto;
    width: 10%;
}

.title3 {
    padding-top: 30px;
}

.modalBtn {
    width: 200px;
}