.dummyStyle {
    color: blue;
}
h1 {
    font-weight: 500;
}

.buttonStyle {
    background-color: blue;
}

.leftside {
    display: flex;
}

.classone {
    display: flex;
    flex-direction: row;
    background-color: #c16dcf;
    border: solid black 10px;
}

.bodyText {
    text-align: center;
}