.dummyStyle {
    color: blue;
}
h1 {
    font-weight: 500;
}

.buttonStyle {
    background-color: blue;
}

.signInBox {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.leftside {
    flex: 0.5;
    background: gray;
    width: 50vh;
}

.rightSide {
    flex: 0.5;
    background-color: #c16dcf;
}

.landingPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    border: solid black 10px;
}

.bodyText {
    text-align: center;
}